
    <!-- ========================= Potensi PAD Section Start ========================= -->
    <section id="potensi-pad" class="about-section about-style-3 pt-120 pb-120">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-content-wrapper">
              <div class="section-title mb-40">
                <h3 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Potensi Peningkatan PAD</h3>
                <p class="wow fadeInUp" data-wow-delay=".4s">Dengan digitalisasi retribusi, potensi peningkatan Pendapatan Asli Daerah (PAD) Kota Baubau sangat signifikan. Transparansi dan kemudahan pembayaran akan meningkatkan kepatuhan wajib retribusi.</p>
                <a href="potensi_pad.html" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Lihat Detail Potensi PAD</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-image wow fadeInRight" data-wow-delay=".2s">
              <img src="assets/img/case-studyapp.png" alt="Potensi PAD">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========================= Potensi PAD Section End ========================= -->

    <!-- ========================= Kolaborasi Section Start ========================= -->
    <section id="kolaborasi" class="feature-section feature-style-2 pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-60">
                        <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Kolaborasi Lintas Sektor</h3>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Transformasi digital ini akan melibatkan kolaborasi antara pemerintah, akademisi, komunitas, dan sektor swasta untuk menciptakan ekosistem inovasi yang berkelanjutan.</p>
                         <a href="kolaborasi.html" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Selengkapnya tentang Kolaborasi</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= Kolaborasi Section End ========================= -->
