<!-- ========================= footer style-1 start ========================= -->
<footer class="footer footer-style-1">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
            <div class="logo">
              <a href="index.html"> <img src="assets/img/logo/logobaubau4.0.png" alt="" height="60px"> </a>
            </div>
            <p class="desc">Website ini menjabarkan Rencana Strategis Diskominfo Kota Baubau 2025-2035, sebuah cetak biru visioner untuk transformasi digital menuju "Kota 4.0" yang kolaboratif dan terintegrasi.</p>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
            <h6>Navigasi</h6>
            <ul class="links">
              <li> <a href="index.html#home">Beranda</a> </li>
              <li> <a href="index.html#ringkasan">Ringkasan</a> </li>
              <li> <a href="index.html#pendahuluan">Pendahuluan</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
            <h6>Pilar Utama</h6>
            <ul class="links">
              <li> <a href="internet_satu_kota.html">Internet Satu Kota</a> </li>
              <li> <a href="command_center.html">Command Center</a> </li>
              <li> <a href="aplikasi_satu_data.html">Aplikasi Satu Data</a> </li>
              <li> <a href="data_center.html">Data Center</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".5s">
            <h6>Kontak</h6>
            <ul class="links">
              <li> <a href="#">Diskominfo Baubau</a> </li>
              <li> <a href="#">Pemerintah Kota Baubau</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
      <p>Dibuat untuk Pemerintah Kota Baubau | Desain oleh <a href="https://pondokinformatika.id" rel="nofollow" target="_blank">Pondok Informatika</a> & <a href="https://instagram.com/muhdanfyan" rel="nofollow" target="_blank">Muhdan Fyan Syah</a></p>
    </div>
  </div>
</footer>
<!-- ========================= footer style-1 end ========================= -->

<!-- ========================= scroll-top start ========================= -->
<a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
<!-- ========================= scroll-top end ========================= -->